h1{
font-family: 'ubuntu';
text-align:center;
}
p{
    font-family: 'ubuntu';
}
 img {
             z-index: -100;
             
             white-space: nowrap;
            
		 }    
hr{
    height:1px;
    background-color:#000000;
    width:50%;
}

p{
    text-align:center;
}

table {
    height:90%;
    border-collapse:collapse;
    width: 90%;
    font-family: 'Ubuntu', serif;
    border: 2px solid black;
    vertical-align:middle
}

td, th {
    border: 1px solid #000000;
    text-align: left;
    padding: 8px;
    font-family: 'Ubuntu', serif;
}

#div1 {
    background-color: #A1D6E2;
    margin-left: 25%;
    margin-right: 25%;
    margin-bottom: 50px;
    margin-top:50px;
    opacity:0.9;
    border-radius: 15px;
}

#subbut{
    margin-top:10px;
    margin-bottom:10px;
    border-radius:20px;
    background-color:#dddddd;
    color:#1992AD;
    border: 2px solid #1992AD;
    height:60px;
    width:100%;
    font-size:20px;

}

#subbut:hover{
     background-color:#1992AD;
     color:#dddddd;
     border: 2px solid #1992AD;
}

#input {
    border-radius:8px;
    width:80%;
    left-margin:10%;
    right-margin:10%;
    float:center;
}

#input2 {
    height:35px;
    border-radius:8px;
    width:80%;
    left-margin:10%;
    right-margin:10%;
    float:center;
}

ul {
            z-index: +1;
            list-style-type: none;
            margin: 0;
            padding: 0;
            overflow: hidden;
            background-color: #bcbabe;
            font-family: 'Open Sans', serif;
            
            display:table; 
            margin:0 auto;
            opacity: .8;
        }
        
        li {
            float: left;
        }

        li a {
            padding-top: 25px;
            padding-right: 75px;
            padding-bottom: 25px;
            padding-left: 75px;
            display: block;
            color: white;
            text-align: center;
            font-size: 30px;
            text-decoration: none;
            color: #000;
        }

        li a:hover {
            background-color: #1992ad;
            font-weight: bold;
            
        }

        .active {
            background-color: #A1D6E2;
            
        }
