doctype html
html
  head
    title  Homepage 
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300|Ubuntu', rel='stylesheet')
    link(rel='stylesheet', type='text/css', href='public/stylesheets/stylesheet.css')
  body(bgcolor='#f1f1f2', style='height:100%; width:100%;')
    // This is the Div that creates the background and blurs the images
    div(style='position:absolute; z-index: -1;  -webkit-filter: blur(5px);  filter: blur(5px);')
      img(src='public\images\WonderWoman.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='public\images\Dunkirk.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='public\images\SpidermanHomecoming.jpg', style='width: 12.5%;height: 50%; margin-right: 0%;')
      img(src='public\images\TheLastJedi.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='public\images\TheHuntForRedOctober.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='public\images\ToKillaMockingbird.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='public\images\Inception.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='public\images\ToyStory3.jpg', style='width: 12.5%;height: 50%; margin-right: 0%;')
      img(src='public\images\TheDarkKnight.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='public\images\RogueOne.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='public\images\Moana.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='public\images\Deadpool.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='public\images\LaLaLand.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='public\images\Moonlight.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='public\images\TheGreatGatsby.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='public\images\Alien.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='public\images\Avengers.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='public\images\GuardiansOfTheGalaxy.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='public\images\DoctorStrange.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='public\images\Ant-Man.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='public\images\TheKingsSpeech.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='public\images\KillCommand.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='public\images\IronMan.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='public\images\CivilWar.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
    h1(align='center', style="font-family: 'Ubuntu', serif; color: #1992ad; text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black; font-size: 70px;")
      | WELCOME
    //
      <nav align = center>
      <a href = "/about/">About</a> &nbsp &nbsp&nbsp|&nbsp&nbsp&nbsp
      <a href = "/about/">Contact Us</a> &nbsp&nbsp&nbsp| &nbsp&nbsp&nbsp
      <a href = "/about/">Sign Up</a> &nbsp&nbsp&nbsp|&nbsp&nbsp&nbsp
      <a href = "/about/">Login</a>
      </nav>
    ul
      li
        a(href='/') Home
      li
        a(href='http://www.bbc.com/news') News
      li
        a(href='#contact') Contact
      li
        a(href='#about') About
      li(style='float:right')
        a(href='/signup') Sign Up
      li(style='float:right')
        a.active(href='/login') Login
    br
    br
    br
    br
    br
    br
    br
    br
    br
    .vertical-menu
      a.active(href='/login')
        h3 Login
      a(href='/signup')
        h5 Sign Up
