doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    script(src='https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js')
    script(src='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js')
    link(rel='stylesheet', type='text/css', href='/Logged_in_main_pages.css')
    style.
      #img1{
      margin-left: 15%;
      width:20%;
      }
      #img2{
      width:20%;
      float:middle;
      align-content: center;
      margin-left: 5%
      }
      #img3{
      width:20%;
      float:right;
      margin-right: 15%
      }
      #moviediv1{
      margin-left: 15%;
      margin-right:15%;
      }
      
      body
      div
      nav.navbar-fixed-top
        .container-fluid
          .navbar-header
            a.navbar-brand(href='/signedhome') Movie Meetup
          ul.nav.navbar-nav
            li
              a(href='/signedhome') Home
            li
              a(href='/friends') Friends
            li
              a(href='/groups') Groups
            li
              a(href='/moviepage')
                | My Movies 
                span.glyphicon.glyphicon-film
            li
              a(href='/aboutus') About Us
          ul.nav.navbar-nav.navbar-right
            li
              a(href='#')
                span.glyphicon.glyphicon-user
                |  My Account
            li
              a(href='/index')
                span.glyphicon.glyphicon-login
                |  Sign Out
            a(href='/movies')
              img#img1(src='https://s-media-cache-ak0.pinimg.com/originals/79/e8/39/79e8394dc1a92796708f6438d718015e.jpg')
            a(href='/movies')
              img#img2(src='http://cdn2-www.superherohype.com/assets/uploads/gallery/wonder-woman/13708397_10154313441628926_7147998445574202230_o.jpg')
            a(href='/movies')
              img#img3(src='http://bestscreenwallpaper.pro/wp-content/uploads/2016/05/poster_46600.jpg')
          br
          br
          br
          br
          br
            a(href='/movies'
              img#img1(src='https://1.bp.blogspot.com/-obQvRtje8TI/WSckWbILq0I/AAAAAAAAge8/jarOv7Qfi7gEs-qGHYw9_WdLYBDnRoIZQCLcB/s00/Spider_Man_Homecoming_New_Official_Poster_a_JPosters.jpg')
            a(href='/movies')
              img#img2(src='https://3.bp.blogspot.com/-M_UnmAgZLhY/WN2eMdiGodI/AAAAAAAAgPg/qSz7mtXQl4cOx7xNB4wA_sktlqeSEAIQgCLcB/s00/War_For_The_Planet_Of_The_Apes_New_Official_Poster_JPosters.jpg')
            a(href='/movies')
              img#img3(src='http://cinepremiere.impresionesaerea.netdna-cdn.com/trailers/2017/03-marzo/It-poster.jpg')
          br
          br
          br
          br
          br
            a(href='/movies')
              img#img1(src='https://media0dk-a.akamaihd.net/56/44/9309ee7890499a5b4d7d825f02dbe80e.jpg')
            a(href='/movies')
              img#img2(src='https://s-media-cache-ak0.pinimg.com/originals/b1/2c/69/b12c693034488e3394895cf1d7d56a35.jpg')
            a(href='/movies')
              img#img3(src='https://s-media-cache-ak0.pinimg.com/originals/48/7d/d8/487dd860d62522576db6a0c4dd81923e.jpg')
          br
          br
          br
          br