doctype html
html
  head
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:300|Ubuntu', rel='stylesheet')
    style.
      h1{
      font-family: 'ubuntu';
      text-align:center;
      }
      p{
      font-family: 'ubuntu';
      }
      img {
      z-index: -100;
      white-space: nowrap;
      }
      hr{
      height:1px;
      background-color:#000000;
      width:50%;
      }
      p{
      text-align:center;
      }
      table {
      height:90%;
      border-collapse:collapse;
      width: 90%;
      font-family: 'Ubuntu', serif;
      border: 2px solid black;
      vertical-align:middle
      }
      td, th {
      border: 1px solid #000000;
      text-align: left;
      padding: 8px;
      font-family: 'Ubuntu', serif;
      }
      #div1 {
      background-color: #A1D6E2;
      margin-left: 25%;
      margin-right: 25%;
      margin-bottom: 50px;
      margin-top:50px;
      opacity:0.9;
      border-radius: 15px;
      }
      #subbut{
      margin-top:10px;
      margin-bottom:10px;
      border-radius:20px;
      background-color:#dddddd;
      color:#1992AD;
      border: 2px solid #1992AD;
      height:60px;
      width:100%;
      font-size:20px;
      }
      #subbut:hover{
      background-color:#1992AD;
      color:#dddddd;
      border: 2px solid #1992AD;
      }
      #input {
      border-radius:8px;
      width:80%;
      left-margin:10%;
      right-margin:10%;
      float:center;
      }
      #input2 {
      height:35px;
      border-radius:8px;
      width:80%;
      left-margin:10%;
      right-margin:10%;
      float:center;
      }
      ul {
      z-index: +1;
      list-style-type: none;
      margin: 0;
      padding: 0;
      overflow: hidden;
      background-color: #bcbabe;
      font-family: 'Open Sans', serif;
      display:table;
      margin:0 auto;
      opacity: .8;
      }
      li {
      float: left;
      }
      li a {
      padding-top: 25px;
      padding-right: 75px;
      padding-bottom: 25px;
      padding-left: 75px;
      display: block;
      color: white;
      text-align: center;
      font-size: 30px;
      text-decoration: none;
      color: #000;
      }
      li a:hover {
      background-color: #1992ad;
      font-weight: bold;
      }
      .active {
      background-color: #A1D6E2;
      }
  body
    // This is the Div that creates the background and blurs the images
    div(style='position:absolute; z-index: -1;  -webkit-filter: blur(5px);  filter: blur(5px);')
      img(src='http://cdn2-www.superherohype.com/assets/uploads/gallery/wonder-woman/13708397_10154313441628926_7147998445574202230_o.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='https://i0.wp.com/media2.slashfilm.com/slashfilm/wp/wp-content/images/dunkirk-poster.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='https://1.bp.blogspot.com/-obQvRtje8TI/WSckWbILq0I/AAAAAAAAge8/jarOv7Qfi7gEs-qGHYw9_WdLYBDnRoIZQCLcB/s00/Spider_Man_Homecoming_New_Official_Poster_a_JPosters.jpg', style='width: 12.5%;height: 50%; margin-right: 0%;')
      img(src='https://cdn.vox-cdn.com/uploads/chorus_asset/file/8341575/star_wars_the_last_jedi_poster_1688.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='https://images-na.ssl-images-amazon.com/images/I/817gKCTGg4L._SY445_.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='http://www.impawards.com/1962/posters/to_kill_a_mockingbird_xlg.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='http://cdn.collider.com/wp-content/uploads/Inception-movie-poster-7.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='http://www.impawards.com/2010/posters/toy_story_three_ver10.jpg', style='width: 12.5%;height: 50%; margin-right: 0%;')
      img(src='https://paulmmartinblog.files.wordpress.com/2011/07/the_dark_knight_poster.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='http://a.dilcdn.com/bl/wp-content/uploads/sites/6/2016/10/rogueone_onesheetA.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='http://www.impawards.com/2016/posters/moana_ver8.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='https://www.cinematerial.com/media/posters/md/7a/7ajvdavw.jpg?v=1456368002', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='http://cdn.cinencuentro.com/wp-content/uploads/2017/01/POSTER-La-La-Land.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='https://www.cinematerial.com/media/posters/md/oq/oqkubbjp.jpg?v=1477422171', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='http://cdn.collider.com/wp-content/uploads/the-great-gatsby-poster1.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='https://i0.wp.com/bloody-disgusting.com/wp-content/uploads/2016/11/alien1979poster.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='https://s-media-cache-ak0.pinimg.com/736x/0f/03/e6/0f03e6733b0cf567cc92e8e20290462f--avengers-poster-avengers-.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='http://cdn.collider.com/wp-content/uploads/2017/03/guardians-of-the-galaxy-2-imax-poster.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='http://cdn2-www.superherohype.com/assets/uploads/gallery/doctor-strange-movie/doctorstrange4.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='http://cdn.collider.com/wp-content/uploads/2015/05/ant-man-poster-1.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='http://img.cinemablend.com/cb/3/a/7/e/3/a/3a7e3a53b4bb0e7bcc29e93acb1d2e34ec0668af8c56daa1feb7db9c1b39535f.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='http://www.videorados.com/images/2016/octubre/originales/kill_comand.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='http://images.vcpost.com/data/images/full/90869/iron-man-movie-poster.jpg?w=590', style='width: 12.5%; height: 50%; margin-right: 0%;')
      img(src='http://www.joblo.com/posters/images/full/Captain-America-Civil-War-main-poster.jpg', style='width: 12.5%; height: 50%; margin-right: 0%;')
    ul
      li
        a(href='/') Home
      li
        a(href='http://www.bbc.com/news') News
      li
        a(href='#contact') Contact
      li
        a(href='#about') About
      li(style='float:right')
        a(href='/signup') Sign Up
      li(style='float:right')
        a.active(href='/login') Login
    #div1
      br
      h1  Sign Up 
      p(align='center')
        | If you already have an account then 
        a(href='/login') Log In
      hr
      p
        b
          ins
            | Fields with a 
            sup(style='color:red') *
            |  are required.
      form(name='myForm', onsubmit='return validate()', action='/signedhome', method='get', align='center')
        table(align='center')
          tr
            td
              input#input(type='text', name='fn', placeholder='First Name', required='')
              sup(style='color:red') *
              br
            td(rowspan='6', width='60%')
              br
              input#input2(type='text', name='ad1', placeholder='Address Line 1', required='')
              sup(style='color:red') *
              br
              br
              input#input2(type='text', name='ad2', placeholder='Address Line 2')
              br
              br
              input#input(type='text', name='City', placeholder='City', required='')
              sup(style='color:red') *
              br
              br
              input#input(type='text', name='State', placeholder='State', required='')
              sup(style='color:red') *
              br
              br
              input#input(type='text', name='psz', placeholder='Postal Code/Zip', required='')
              sup(style='color:red') *
              br
          tr
            td
              input#input(type='text', name='ln', placeholder='Last Name', required='')
              sup(style='color:red') *
              br
          tr
            td
              input#input(type='text', name='un', placeholder='Username', required='')
              sup(style='color:red') *
              br
          tr
            td
              input#input(type='email', name='em', placeholder='E-Mail', required='')
              sup(style='color:red') *
              br
          tr
            td
              input#input(type='password', name='pw1', placeholder='Password', required='')
              sup(style='color:red') *
              br
          tr
            td
              input#input(type='password', name='pw2', placeholder='Confirm Password', required='')
              sup(style='color:red') *
              br
          tr
            td
              input(type='radio', name='gender', value='male')
              |  Male
              br
              input(type='radio', name='gender', value='female')
              |  Female
              br
              input(type='radio', name='gender', value='other')
              |  Other
              br
            td
              | Day:
              input(type='number', name='day', min='1', max='31', required='')
              |           Month:
              input(type='number', name='month', min='1', max='12', required='')
              |           Year: 
              input(type='number', name='year', min='1900', max='2017', required='')
          tr
          tr
            #Subbutton(style='text-align:center')
              th(colspan='2')
                input#subbut(type='submit', name='Submit', value='Sign Up', align='center')
        script.
          function validate() {
          if( document.myForm.pw1.value != document.myForm.pw2.value ) {
          window.alert( "Please make sure both password are the same!" ); document.myForm.pw1.focus() && document.myForm.pw2.focus ;
          return false;
          }
          else{
          return ( true );
          window.location = "/signedhome"
          }
          return( true );
          }
        br
