h1{
font-family: 'monotyo';
text-align:center;
}

table {
    height:90%;
    border-collapse:collapse;
    width: 90%;
    font-family: 'Open Sans', serif;
    border: 2px solid black;
    align:middle
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
    font-family: 'Open Sans', serif;
}

#div1 {
    background-color: #ccffff;
    margin-left: 350px;
    margin-right: 350px;
    margin-bottom: 50px;
    margin-top:50px;
}

#Subbutton {
   <-!-Here you sould have the centering of the submit button-->
}