		 img {
             z-index: -100;
             
             white-space: nowrap;
            
		 }       
         .nospace{
             font-size: 0px;
         }
         h1{
			font-family: 'Ubuntu', serif;
			font-size: 50px;
		}
		h4 {
        	font-family: 'Open Sans', serif;
        	color: #000;
      	}
		ul {
            z-index: +1;
    		list-style-type: none;
    		margin: 0;
            padding: 0;
            overflow: hidden;
    		background-color: #bcbabe;
    		font-family: 'Open Sans', serif;
            display:table; 
            margin:0 auto;
            opacity: .8;
		}
        
		li {
    		float: left;
		}

		li a {
            padding-top: 25px;
            padding-right: 100px;
            padding-bottom: 25px;
            padding-left: 100px;
    		display: block;
   			color: white;
    		text-align: center;
    		text-decoration: none;
            color: #000;
		}

		li a:hover {
    		background-color: #1992ad;
            font-weight: bold;
            
		}

		.active {
			background-color: #A1D6E2;
            
		}
        .vertical-menu {
            width: 200px;
            text-align: center;
            display:table; 
            margin:0 auto;
}

    .vertical-menu a {
        font-family: 'Open Sans', serif;
        background-color: #bcbabe;
        color: black;
        display: block;
        padding: 12px;
        text-decoration: none;
        opacity: .8;
}

.vertical-menu a:hover {
    background-color: #1992ad;
     font-weight: bold;
}

.vertical-menu .active {
    background-color: #A1D6E2;
}